/* general */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
	--color-orange: #ec6633;
	--color-white: #ffffff;
	--color-black: #000000;
	--color-red: #e93f33;
	--color-green: #418107;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px 30px;
}
.debug{
    border: 1px solid black;
}
header{
    background-color: var(--color-orange);
}
ul{
    list-style: none;
}
ul li{
    display: inline-block;
    padding: 0px 5px;
}
.img-logo{
    width: 10%;
}
.fa-regular,.fa-solid{
    color: var(--color-white);
}
/* utility */
.d-flex{
    display: flex;
    justify-content: space-between;
}
.white-text{
    color: var(--color-white)
}
/* main */
main{
    padding-top: 50px;
}
